## Importing the Libraries

In [356]:
import pandas as pd
import numpy as np

## Viewing the dataset

In [357]:
data = pd.read_csv(r'../data/Messy_Employee_dataset.csv')

In [358]:
data.head()

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NaN,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NaN,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False

## Basic Information

In [359]:
data.shape

(1020, 12)

In [360]:
data.isna().sum()

Employee_ID            0
First_Name             0
Last_Name              0
Age                  211
Department_Region      0
Status                 0
Join_Date              0
Salary                24
Email                  0
Phone                  0
Performance_Score      0
Remote_Work            0
dtype: int64

In [361]:
data.dtypes

Employee_ID           object
First_Name            object
Last_Name             object
Age                  float64
Department_Region     object
Status                object
Join_Date             object
Salary               float64
Email                 object
Phone                  int64
Performance_Score     object
Remote_Work             bool
dtype: object

In [362]:
data.describe(include='all')

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
count,1020,1020,1020,809.000000,1020,1020,1020,996.000000,1020,1.020000e+03,1020,1020
unique,1020,8,8,NaN,36,3,760,NaN,64,NaN,4,2
top,EMP1000,Frank,Brown,NaN,HR-Florida,Pending,6/10/2024,NaN,grace.brown@example.com,NaN,Good,True
freq,1,142,148,NaN,41,356,5,NaN,27,NaN,270,513
mean,NaN,NaN,NaN,32.484549,NaN,NaN,NaN,85155.056396,NaN,-4.942253e+09,NaN,NaN
std,NaN,NaN,NaN,5.656860,NaN,NaN,NaN,19873.727918,NaN,2.817326e+09,NaN,NaN
min,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,50047.320000,NaN,-9.994973e+09,NaN,NaN
25%,NaN,NaN,NaN,25.000000,NaN,NaN,NaN,68392.487500,NaN,-7.341992e+09,NaN,NaN
50%,NaN,NaN,NaN,30.000000,NaN,NaN,NaN,85547.870000,NaN,-4.943997e+09,NaN,NaN
75%,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,100974.027500,NaN,-2.520391e+09,NaN,NaN
max,NaN,NaN,NaN,40.000000,NaN,NaN,NaN,119971.650000,NaN,-3.896086e+06,NaN,NaN

In [363]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1020 entries, 0 to 1019
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_ID        1020 non-null   object
 1   First_Name         1020 non-null   object
 2   Last_Name          1020 non-null   object
 3   Age                809 non-null    float64
 4   Department_Region  1020 non-null   object
 5   Status             1020 non-null   object
 6   Join_Date          1020 non-null   object
 7   Salary             996 non-null    float64
 8   Email              1020 non-null   object
 9   Phone              1020 non-null   int64
 10  Performance_Score  1020 non-null   object
 11  Remote_Work        1020 non-null   bool
dtypes: bool(1), float64(2), int64(1), object(8)
memory usage: 88.8+ KB

## Data Cleaning

In [364]:
data.head(10)

,Employee_ID,First_Name,Last_Name,Age,Department_Region,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work
0,EMP1000,Bob,Davis,25.0,DevOps-California,Active,4/2/2021,59767.65,bob.davis@example.com,-1651623197,Average,True
1,EMP1001,Bob,Brown,NaN,Finance-Texas,Active,7/10/2020,65304.66,bob.brown@example.com,-1898471390,Excellent,True
2,EMP1002,Alice,Jones,NaN,Admin-Nevada,Pending,12/7/2023,88145.90,alice.jones@example.com,-5596363211,Good,True
3,EMP1003,Eva,Davis,25.0,Admin-Nevada,Inactive,11/27/2021,69450.99,eva.davis@example.com,-3476490784,Good,True
4,EMP1004,Frank,Williams,25.0,Cloud Tech-Florida,Active,1/5/2022,109324.61,frank.williams@example.com,-1586734256,Poor,False
5,EMP1005,Alice,Garcia,40.0,Sales-Texas,Inactive,6/10/2020,88642.84,alice.garcia@example.com,-5409003485,Good,False
6,EMP1006,Frank,Jones,NaN,Admin-Nevada,Active,4/3/2020,96288.43,frank.jones@example.com,-4518376063,Good,False
7,EMP1007,Bob,Jones,30.0,Cloud Tech-Florida,Inactive,7/17/2022,94497.91,bob.jones@example.com,-4134327559,Average,True
8,EMP1008,Frank,Davis,35.0,Admin-Nevada,Inactive,12/8/2023,115565.82,frank.davis@example.com,-4177656123,Excellent,True
9,EMP1009,Charlie,Johnson,NaN,DevOps-New York,Active,8/4/2022,76561.88,charlie.johnson@example.com,-8156985699,Excellent,True

## Age -> Int and making groups and filling values

In [365]:
data['Age'] = data['Age'].fillna(data['Age'].median())

In [366]:
data['Age'] = data['Age'].astype(np.int32)

In [367]:
def aging(x):
    if 20 <= x <= 29:
        return "Young Adults"
    elif 30 <= x <= 35:
        return "Early Middle Age"
    elif 36 <= x <= 40:
        return "Late Middle Age"
    else:
        return "Other"

data["Age_Group"] = data['Age'].apply(aging)

## Separating region and department

In [368]:
data[['Department', 'Region']] = data["Department_Region"].str.split("-", n=1, expand=True)

In [369]:
data.drop(columns="Department_Region", inplace=True)

## Joindate -> date and extracting year

In [370]:
data["Join_Date"] = pd.to_datetime(data["Join_Date"])

In [371]:
data["Join_Date"]

0      2021-04-02
1      2020-07-10
2      2023-12-07
3      2021-11-27
4      2022-01-05
          ...
1015   2023-08-19
1016   2021-11-07
1017   2023-10-04
1018   2024-12-16
1019   2021-02-22
Name: Join_Date, Length: 1020, dtype: datetime64[ns]

In [372]:
data["Year"] = data["Join_Date"].dt.year

## Phone number modification

In [373]:
def positive(x):
    return -1 * x

data['Phone'] = data['Phone'].apply(positive)

In [374]:
data['Phone'] = data['Phone'].astype(str)

In [375]:
def phone(x):
    return f"{x[0:3]}-{x[3:6]}-{x[6:]}"

data['Phone'] = data['Phone'].apply(phone)

## Performance Score groups

In [376]:
def score(x):
    if x == "Excellent":
        return 4
    elif x == "Good":
        return 3
    elif x == "Average":
        return 2
    else:
        return 1

data['Performance_Score_Group'] = data['Performance_Score'].apply(score)

## Remote work groups

In [377]:
def yes_no(x):
    if x == True:
        return "Yes"
    else:
        return "No"

data['Remote_Work_Group'] = data['Remote_Work'].apply(yes_no)

## Salary missing values

In [378]:
data['Salary'] = data['Salary'].fillna(data['Salary'].median())

## Saving the work

In [379]:
data.head()

,Employee_ID,First_Name,Last_Name,Age,Status,Join_Date,Salary,Email,Phone,Performance_Score,Remote_Work,Age_Group,Department,Region,Year,Performance_Score_Group,Remote_Work_Group
0,EMP1000,Bob,Davis,25,Active,2021-04-02,59767.65,bob.davis@example.com,165-162-3197,Average,True,Young Adults,DevOps,California,2021,2,Yes
1,EMP1001,Bob,Brown,30,Active,2020-07-10,65304.66,bob.brown@example.com,189-847-1390,Excellent,True,Early Middle Age,Finance,Texas,2020,4,Yes
2,EMP1002,Alice,Jones,30,Pending,2023-12-07,88145.90,alice.jones@example.com,559-636-3211,Good,True,Early Middle Age,Admin,Nevada,2023,3,Yes
3,EMP1003,Eva,Davis,25,Inactive,2021-11-27,69450.99,eva.davis@example.com,347-649-0784,Good,True,Young Adults,Admin,Nevada,2021,3,Yes
4,EMP1004,Frank,Williams,25,Active,2022-01-05,109324.61,frank.williams@example.com,158-673-4256,Poor,False,Young Adults,Cloud Tech,Florida,2022,1,No

In [380]:
data.isna().sum()

Employee_ID                0
First_Name                 0
Last_Name                  0
Age                        0
Status                     0
Join_Date                  0
Salary                     0
Email                      0
Phone                      0
Performance_Score          0
Remote_Work                0
Age_Group                  0
Department                 0
Region                     0
Year                       0
Performance_Score_Group    0
Remote_Work_Group          0
dtype: int64

In [381]:
data.to_csv(r'employees.csv', index=False)